<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add/Edit Formation</title>
</head>

<body>
    <h2>Add/Edit Formation</h2>
    <form th:action="@{/save}" th:object="${formation}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="nomFormation ">Nom Formation:</label>
        <input type="text" th:field="*{nomFormation}">
        <br>
        <label for="description">Description:</label>
        <input type="text" th:field="*{description}">
        <br>
        <label for="date_debut">Date début:</label>
        <input type="date" th:field="*{date_debut}">
        <br>
        <label for="date_fin">Date de fin:</label>
        <input type="date" th:field="*{date_fin}">
        <br>
        <button type="submit">Save</button>
    </form>
    <a th:href="@{/list}">Back to List</a>
</body>

</html> 